{% extends 'cms/layouts/base/base.html' %}
{% load i18n %}


{% block javascript %}
    {{ block.super }}
{% endblock %}

{% block content %}
    <div class="clothing-time-container" ng-controller="ClothingTimeController">
        <div class="clothing-time row" ng-repeat="time in clothingtimes">

            <div class="clothing-time-info col-lg-12">
                {$ time.name $}
                <br />
                <img src="{{ MEDIA_URL }}{$ time.image $}" height="100px" />
            </div>

            <div class="clothes col-lg-3" ng-repeat="clothing in time.clothes">
                {$ clothing.name $}
                <br />
                <img src="{{ MEDIA_URL }}{$ clothing.image $}" height="100px" ng-click="onClothingChosen(clothing)" />
            </div>
        </div>
        <div class="clearfix"></div>
    </div>

    <div ng-controller="BodyController">
        {$ foo $}

        <div class="row">
            <div class="col-lg-4">
                <img src="{{ MEDIA_URL }}{$ bodyData.left_arm $}" height="100px" ng-show="bodyData.left_arm" />
            </div>
            <div class="col-lg-4">
                <img src="{{ MEDIA_URL }}{$ bodyData.head $}" height="100px" ng-show="bodyData.head" />
            </div>
            <div class="col-lg-4">
                <img src="{{ MEDIA_URL }}{$ bodyData.right_arm $}" height="100px" ng-show="bodyData.right_arm" />
            </div>
        </div>

        <div class="row">
            <div class="col-lg-4">
            </div>
            <div class="col-lg-4">
                <img src="{{ MEDIA_URL }}{$ bodyData.upper_body_part $}" height="100px" ng-show="bodyData.upper_body_part" />
            </div>
            <div class="col-lg-4">
            </div>
        </div>

        <div class="row">
            <div class="col-lg-4">
            </div>
            <div class="col-lg-4">
                <img src="{{ MEDIA_URL }}{$ bodyData.lower_body_part $}" height="100px" ng-show="bodyData.lower_body_part" />
            </div>
            <div class="col-lg-4">
            </div>
        </div>

        <div class="row">
            <div class="col-lg-4">
                <img src="{{ MEDIA_URL }}{$ bodyData.left_leg $}" height="100px" ng-show="bodyData.left_leg" />
            </div>
            <div class="col-lg-4">
            </div>
            <div class="col-lg-4">
                <img src="{{ MEDIA_URL }}{$ bodyData.right_leg $}" height="100px" ng-show="bodyData.right_leg" />
            </div>
        </div>
    </div>
{% endblock %}