{% extends 'cms/layouts/base/base.html' %}
{% load i18n %}


{% block javascript %}
    {{ block.super }}
{% endblock %}

{% block content %}
    <div class="clothing-time-container" ng-controller="ClothingTimeController">
        <div class="clothing-time" ng-repeat="time in clothingtimes">
            {$ time.name $}
            <br />
            <img src="{{ MEDIA_URL }}{$ time.image $}" height="100px" />

            <div class="clothes" ng-repeat="clothing in time.clothes">
                {$ clothing.name $}
                <br />
                <img src="{{ MEDIA_URL }}{$ clothing.image $}" height="100px" />
            </div>
        </div>
    </div>
{% endblock %}